<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StudentProject1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <StudentProject1.Properties.Settings>
            <setting name="SelectedUser" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ErrorLoginCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>StudentDB1</value>
            </setting>
            <setting name="SQLLogin" serializeAs="String">
                <value>AppUser</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="AdminName" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="AdminPassword" serializeAs="String">
                <value>111</value>
            </setting>
            <setting name="Company" serializeAs="String">
                <value>شركة المبرمج المحترف</value>
            </setting>
            <setting name="AutoBackup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBackupPath" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackupCountr" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="BackupFiles" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BackupDays" serializeAs="String">
                <value>365</value>
            </setting>
            <setting name="StartUp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FrmMainSize" serializeAs="String">
                <value>1000, 600</value>
            </setting>
            <setting name="FrmMainLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd-MM-yyyy</value>
            </setting>
        </StudentProject1.Properties.Settings>
    </userSettings>
</configuration>